body{
    background-color: #3b3631;
    font-family: sans-serif;
    color: white;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    background-color: #8a7f76;
  }
    
     nav a {
      color: white;
      text-align: center;
      vertical-align: center;
      padding: 0 2.8rem;
      padding-top: 1.8rem;
      padding-bottom: 1.5rem;
      text-decoration: none;
      float: right;
      font-size: 1.2rem;
    }
    
     nav a:hover {
      background-color: #9c7e65;
    }
    
    #active {
      background-color: #9c7e65;
    }
  
    nav img{
      width: 1.5rem;
    }

 .gallery{
     display: flex;
     flex: auto auto;
     justify-content: center;
 }

 .gallery img{
    margin-left: 2.5em;
    margin-right: 2.5em;
    width: 30%;
    margin-bottom: 5em;
 }

#big > img{
    margin-bottom: 5em;
    margin-top: 5em;
    width: 64.2%;
}

h1{
    margin-top: 2em;
    margin-bottom: 2em;
}

#specialtext p{
    background-color: white;
    color: #3b3631;
    width: 55%;
    margin-left: auto;
    margin-right: auto;
    padding: 4em;
    clip-path: polygon(10% 0, 90% 0, 100% 50%, 90% 100%, 10% 100%, 0% 50%);
}


#footer {
    background-color: #8a7f76;
    color: white;
    padding: 3em;
    text-align: center;
    vertical-align: center;
}

#footer img{
    margin: 1%;
}

.gallery2{
    display: flex;
    flex-direction: row;
    justify-content: center;
}


/* login */

  a:focus, a:active {
    text-decoration: none;
    outline: none;
    transition: all 300ms ease 0s;
    -moz-transition: all 300ms ease 0s;
    -webkit-transition: all 300ms ease 0s;
    -o-transition: all 300ms ease 0s;
    -ms-transition: all 300ms ease 0s; }
  
  input, select, textarea {
    outline: none;
    appearance: unset !important;
    -moz-appearance: unset !important;
    -webkit-appearance: unset !important;
    -o-appearance: unset !important;
    -ms-appearance: unset !important; }
  
  input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
    appearance: none !important;
    -moz-appearance: none !important;
    -webkit-appearance: none !important;
    -o-appearance: none !important;
    -ms-appearance: none !important;
    margin: 0; }
  
  input:focus, select:focus, textarea:focus {
    outline: none;
    box-shadow: none !important;
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    -o-box-shadow: none !important;
    -ms-box-shadow: none !important;
    border-bottom-width: 2px;
    padding-bottom: 2px; }
  
  input[type=checkbox] {
    appearance: checkbox !important;
    -moz-appearance: checkbox !important;
    -webkit-appearance: checkbox !important;
    -o-appearance: checkbox !important;
    -ms-appearance: checkbox !important; }
  
  input[type=radio] {
    appearance: radio !important;
    -moz-appearance: radio !important;
    -webkit-appearance: radio !important;
    -o-appearance: radio !important;
    -ms-appearance: radio !important; }
  
  input:-webkit-autofill {
    box-shadow: 0 0 0 30px transparent inset;
    -moz-box-shadow: 0 0 0 30px transparent inset;
    -webkit-box-shadow: 0 0 0 30px transparent inset;
    -o-box-shadow: 0 0 0 30px transparent inset;
    -ms-box-shadow: 0 0 0 30px transparent inset;
    background-color: transparent !important; }
  
  figure {
    margin: 0; }
  
  .signup-content {
    width: 662px;
    margin-right: 0px;
    background-color: #8a7f76;
    margin-top: 5em;
    margin-left: auto;
    margin-right: auto;
    }
  
  .signup-form {
    padding: 54px 80px 36px 55px; }
  
  .form-group {
    margin-bottom: 23px; }
  
  input {
    border: none;
    box-sizing: border-box;
    border-bottom: 1px solid #ebebeb;
    background: transparent;
    width: 100%;
    display: block;
    color: #fff;
    font-weight: bold;
    font-family: 'Poppins';
    font-size: 14px;
    padding: 3px 0; }
    input::-webkit-input-placeholder {
      font-weight: 400;
      color: #fff; }
    input::-moz-placeholder {
      font-weight: 400;
      color: #fff; }
    input:-ms-input-placeholder {
      font-weight: 400;
      color: #fff; }
    input:-moz-placeholder {
      font-weight: 400;
      color: #fff; }
    input:focus {
      font-weight: bold; }
  
  .field-icon {
    float: right;
    margin-right: 0px;
    margin-top: -22px;
    position: relative;
    z-index: 2;
    color: #fff; }
  
  input[type=checkbox]:not(old) {
    width: 2em;
    margin: 0;
    padding: 0;
    font-size: 1em;
    display: none; }
  
  input[type=checkbox]:not(old) + label {
    display: inline-block;
    margin-bottom: 25px; }
  
  input[type=checkbox]:not(old) + label > span {
    display: inline-block;
    width: 13px;
    height: 13px;
    margin-right: 15px;
    margin-bottom: 4px;
    border: 1px solid #fff;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    -o-border-radius: 2px;
    -ms-border-radius: 2px;
    background: transparent;
    vertical-align: bottom; }
  
  input[type=checkbox]:not(old):checked + label > span {
    background: transparent; }
  
  input[type=checkbox]:not(old):checked + label > span:before {
    content: '\f26b';
    display: block;
    color: #fff;
    font-size: 11px;
    line-height: 1.2;
    text-align: center;
    font-family: 'Material-Design-Iconic-Font';
    font-weight: bold; }
  
  .label-agree-term {
    font-size: 13px;
    font-weight: 400;
    color: #fff; }
  
  .term-service {
    color: #fff; }
  
  .form-submit {
    width: auto;
    display: inline-block;
    border: none;
    background: #fff;
    color: #b18757;
    padding: 10px;
    box-shadow: 0px 15px 9.9px 0.1px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 15px 9.9px 0.1px rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: 0px 15px 9.9px 0.1px rgba(0, 0, 0, 0.15);
    -o-box-shadow: 0px 15px 9.9px 0.1px rgba(0, 0, 0, 0.15);
    -ms-box-shadow: 0px 15px 9.9px 0.1px rgba(0, 0, 0, 0.15);
    margin-right: 25px; }
    .form-submit:hover {
      background-color: #e6e6e6; }
  
  .submit {
    width: 130px;
    border-radius: 25px;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    -o-border-radius: 25px;
    -ms-border-radius: 25px;
    text-transform: uppercase;
    font-size: 13px;
    text-align: center;
    cursor: pointer; }
  
  .submit-link {
    border: 2px solid #fff;
    text-decoration: none;
    display: inline-block;
    vertical-align: middle;
    padding: 12px 0;
    text-align: center;
    color: #fff; }
    .submit-link:hover {
      background: #fff;
      color: #b18757; }

  .error {
      display: none;
      color: #3b3631;
      padding: 5px 0 5px 0;
      text-align: start;
  }
  
  #footer2{
    background-color: #8a7f76;
    color: white;
    padding: 3em;
    text-align: center;
    vertical-align: center;
    position: absolute;
    bottom: 0;
    width: 95%;
}

/* Responsive */
@media screen and (max-width: 990px) {
  nav{
      flex-direction: column;
    }

  .gallery{
    flex-direction: column;
    text-align: center;
  }

  .gallery img{
    margin-bottom: 5em;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  
  #specialtext p{
    padding: 3em;
  }

  #big > img{
    width: 80%;
  }

  #footer2{
    position: relative;
    bottom: auto;
    margin-top: 5em;
  }

  .signup-content{
    width: 80%;
  }

}

@media screen and (max-width: 600px) {
  nav{
      flex-direction: column;
    }
  
    .gallery{
      flex-direction: column;
      text-align: center;
    }
  
    .gallery img{
      margin-bottom: 5em;
      margin-left: auto;
      margin-right: auto;
      width: 60%;
    }
  
    #big > img{
      width: 90%;
    }

    .signup-content{
      width: 80%;
    }

    #footer{
      padding: 1em;
    }
  
    #footer img{
      width: 2.2em;
    }

    #footer2{
      padding: 1em;
    }
  
    #footer2 img{
      width: 2.2em;
    }

}
